services:
  - type: web
    name: sgpagri
    env: node
    plan: free
    region: oregon
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        scope: build
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
